<ion-header translucent>
  <ion-toolbar color="tertiary">
    <ion-title>
      Pokedex App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="dark">
  <ion-searchbar placeholder="Buscar pokemon" color="medium"></ion-searchbar>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="planta">001</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Bulbasaur</h2>
          <ion-badge color="planta">Grass</ion-badge>
          <ion-badge color="poison">Poison</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="fogo">004</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Charmander</h2>
          <ion-badge color="fogo">Fire</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="agua">007</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Squirtle</h2>
          <ion-badge color="agua">Water</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="bug">010</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Caterpie</h2>
          <ion-badge color="bug">Bug</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/010.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="bug">013</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Weedle</h2>
          <ion-badge color="bug">Bug</ion-badge>
          <ion-badge color="poison">Poison</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/013.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="normal">016</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Pidgey</h2>
          <ion-badge color="normal">Normal</ion-badge>
          <ion-badge class="background-color-flying">Flying</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/016.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="normal">019</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Rattata</h2>
          <ion-badge color="normal">Normal</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/019.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="normal">021</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Spearow</h2>
          <ion-badge color="normal">Normal</ion-badge>
          <ion-badge class="background-color-flying">Flying</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/021.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="poison">023</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Ekans</h2>
          <ion-badge color="poison">Poison</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/023.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="electric">025</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Pikachu</h2>
          <ion-badge color="electric">Electric</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-content>